# Properly detect languages on GitHub
*.rst linguist-detectable=true
docs/* linguist-documentation=false
src/* linguist-vendored
src/*/* linguist-vendored
*.c linguist-detectable=false
*.sh linguist-detectable=false
Makeile linguist-detectable=false
